<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>barley.caching.impl.MultitenantCachingTestCase</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCreateExistingCache</td>
<td>org.wso2.carbon.clustering.hazelcast.jsr107.mt </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCreateCacheWithSameNameByTwoTenantsWithDefaultCacheManager</td>
<td>org.wso2.carbon.clustering.hazelcast.jsr107.mt </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCreateCacheWithSameNameByTwoTenants</td>
<td>org.wso2.carbon.clustering.hazelcast.jsr107.mt </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testLegalAccess</td>
<td>org.wso2.carbon.clustering.hazelcast.jsr107.mt </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCacheBuilderForTenants</td>
<td>org.wso2.carbon.clustering.hazelcast.jsr107.mt </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testCacheLoaderForTenants</td>
<td>org.wso2.carbon.clustering.hazelcast.jsr107.mt </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testIllegalAccess</td>
<td>org.wso2.carbon.clustering.hazelcast.jsr107.mt </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
